.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000; }
  .sidebar.collapsed {
    width: 40px; }
  @media (min-width: 768px) {
    .sidebar {
      left: 10px;
      top: 10px;
      bottom: 10px;
      transition: width 500ms; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
      width: 305px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
      width: 390px; } }
  @media (min-width: 1200px) {
    .sidebar {
      width: 460px; } }

.sidebar-tabs {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; }
  .sidebar-tabs > li {
    width: 100%;
    height: 40px;
    color: #333;
    font-size: 12pt;
    overflow: hidden;
    transition: all 80ms; }
    .sidebar-tabs > li:hover {
      color: #000;
      background-color: #eee; }
    .sidebar-tabs > li.active {
      color: #fff;
      background-color: #0074d9; }
    .sidebar-tabs > li > a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 40px;
      color: inherit;
      text-decoration: none;
      text-align: center; }

.sidebar-content {
  position: absolute;
  left: 40px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-x: hidden;
  overflow-y: auto; }

.sidebar-pane {
  display: none;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px; }
  .sidebar-pane.active {
    display: block; }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
      width: 265px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
      width: 350px; } }
  @media (min-width: 1200px) {
    .sidebar-pane {
      width: 420px; } }

.sidebar-map {
  margin-left: 40px; }
  @media (min-width: 768px) {
    .sidebar-map {
      margin-left: 0; } }

.sidebar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); }
  .sidebar.leaflet-touch {
    box-shadow: none;
    border-right: 2px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .sidebar {
      border-radius: 4px; }
      .sidebar.leaflet-touch {
        border: 2px solid rgba(0, 0, 0, 0.2); }
      .sidebar.collapsed ~ .sidebar-map .leaflet-left {
        left: 50px; } }

@media (min-width: 768px) {
  .sidebar-map .leaflet-left {
    transition: left 500ms; } }
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-map .leaflet-left {
    left: 315px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-map .leaflet-left {
    left: 400px; } }
@media (min-width: 1200px) {
  .sidebar-map .leaflet-left {
    left: 470px; } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiIiwic291cmNlcyI6WyJzY3NzL2xlYWZsZXQtc2lkZWJhci5zY3NzIiwic2Nzcy9fYmFzZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQ3NCQTtFQUNJLFVBQVU7RUFFVixNQUFNO0VBQ04sS0FBSztFQUNMLFFBQVE7RUFDUixPQXJCTztFQXVCUCxVQUFVO0VBRVYsU0F2QmM7RUF1QmxCLFFBQVE7SUFHQSxPQXZCRztFQTBCUDtJQWhCSjtNQWlCUSxNRHZDVTtNQ3dDVixLRHhDVTtNQ3lDVixRRHpDVTtNQzJDVixZQUFZO0VBR2hCO0lBeEJKO01BeUJRLE9BekNHO0VBNENQO0lBNUJKO01BNkJRLE9BOUNHO0VBaURQO0lBaENKO01BaUNRLE9BbkRHOztBQXVEWDtFQUNJLFVBQVU7RUFFVixLQUFLO0VBQ0wsUUFBUTtFQUVSLE9BckRPO0VBc0RQLFFBQVE7RUFFUixRQUFRO0VBQ1IsU0FBUztFQUVULGtCRGpFTTtFQ2lFVixnQkFBZ0I7SUFHUixPQUFPO0lBQ1AsUUEvREc7SUFpRUgsT0R4RUM7SUMyRUQsV0FuRVE7SUFxRVIsVUFBVTtJQUVWLFlBQVk7SUFBcEIsZ0JBQWdCLEVBQUU7TUFHTixPRGhGRztNQ2lGSCxrQkRoRkc7SUNpRmYsZ0JBQWdCLEVBQUU7TUFHTixPRG5GSTtNQ29GSixrQkRuRkk7SUNvRmhCLGdCQUFnQixLQUFLO01BR1QsU0FBUztNQUVULE9BQU87TUFDUCxRQUFRO01BRVIsYUExRkQ7TUE0RkMsT0FBTztNQUNQLGlCQUFpQjtNQUNqQixZQUFZOztBQUt4QjtFQUNJLFVBQVU7RUFFVixNQXRHTztFQXVHUCxPQUFPO0VBRVAsS0FBSztFQUNMLFFBQVE7RUFFUixrQkF2R1M7RUF5R1QsWUFBWTtFQUNaLFlBQVk7O0FBR2hCO0VBQ0ksU0FBUztFQUVULE9BQU87RUFDUCxZQUFZO0VBRVosU0FsSGM7RUFrSGxCLGFBQWE7SUFHTCxTQUFTO0VBR2I7SUFaSjtNQWFRLE9BQU87RUFHWDtJQWhCSjtNQWlCUSxPQUFPO0VBR1g7SUFwQko7TUFxQlEsT0FBTzs7QUFJZjtFQUVRLGFBN0lHO0VBK0lIO0lBSlI7TUFLWSxhQUFhOztBRDlJekI7RUFDSSxZQVphO0VBWWpCLFFBQVE7SUFHQSxZQUFZO0lBQ1osY0FqQmU7RUFvQm5CO0lBUko7TUFTUSxlQXRCZ0I7TUFzQnhCLFFBQVE7UUFHSSxRQXhCVztNQXlCdkIsUUFBUSxhQUFhLGFBQWE7UUFHdEIsTUFBTTs7QUFPZDtFQURKLGFBQWE7SUFFTCxZQUFZO0FBR2hCO0VBTEosYUFBYTtJQU1MLE1BQU07QUFHVjtFQVRKLGFBQWE7SUFVTCxNQUFNO0FBR1Y7RUFiSixhQUFhO0lBY0wsTUFBTSIsInNvdXJjZXNDb250ZW50IjpbIiRzaWRlYmFyLW1hcmdpbnM6IDEwcHg7XG4kc2lkZWJhci1ib3JkZXItcmFkaXVzOiA0cHg7XG4kc2lkZWJhci10b3VjaC1ib3JkZXI6IDJweCBzb2xpZCByZ2JhKDAsIDAsIDAsIDAuMik7XG4kc2lkZWJhci1zaGFkb3c6IDAgMXB4IDVweCByZ2JhKDAsIDAsIDAsIDAuNjUpO1xuXG4kdGFiLWZnOiAjMzMzO1xuJHRhYnMtYmc6ICNmZmY7XG4kdGFiLWhvdmVyLWZnOiAjMDAwO1xuJHRhYi1ob3Zlci1iZzogI2VlZTtcbiR0YWItYWN0aXZlLWZnOiAjZmZmO1xuJHRhYi1hY3RpdmUtYmc6ICMwMDc0ZDk7XG5cbkBpbXBvcnQgJ2Jhc2UnO1xuXG4uc2lkZWJhciB7XG4gICAgYm94LXNoYWRvdzogJHNpZGViYXItc2hhZG93O1xuXG4gICAgJi5sZWFmbGV0LXRvdWNoIHtcbiAgICAgICAgYm94LXNoYWRvdzogbm9uZTtcbiAgICAgICAgYm9yZGVyLXJpZ2h0OiAkc2lkZWJhci10b3VjaC1ib3JkZXI7XG4gICAgfVxuXG4gICAgQG1lZGlhKG1pbi13aWR0aDokdGhyZXNob2xkLXNtKSB7XG4gICAgICAgIGJvcmRlci1yYWRpdXM6ICRzaWRlYmFyLWJvcmRlci1yYWRpdXM7XG5cbiAgICAgICAgJi5sZWFmbGV0LXRvdWNoIHtcbiAgICAgICAgICAgIGJvcmRlcjogJHNpZGViYXItdG91Y2gtYm9yZGVyO1xuICAgICAgICB9XG5cbiAgICAgICAgJi5jb2xsYXBzZWQgfiAuc2lkZWJhci1tYXAgLmxlYWZsZXQtbGVmdCB7XG4gICAgICAgICAgICBsZWZ0OiAkdGFiLXNpemUgKyAkc2lkZWJhci1tYXJnaW5zO1xuICAgICAgICB9XG4gICAgfVxuXG59XG5cbi5zaWRlYmFyLW1hcCAubGVhZmxldC1sZWZ0IHtcbiAgICBAbWVkaWEobWluLXdpZHRoOiR0aHJlc2hvbGQtc20pIHtcbiAgICAgICAgdHJhbnNpdGlvbjogbGVmdCAkc2lkZWJhci10cmFuc2l0aW9uO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1zbSkgYW5kIChtYXgtd2lkdGg6JHRocmVzaG9sZC1tZCAtIDFweCkge1xuICAgICAgICBsZWZ0OiAkd2lkdGgtc20gKyAkc2lkZWJhci1tYXJnaW5zO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1tZCkgYW5kIChtYXgtd2lkdGg6JHRocmVzaG9sZC1sZyAtIDFweCkge1xuICAgICAgICBsZWZ0OiAkd2lkdGgtbWQgKyAkc2lkZWJhci1tYXJnaW5zO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1sZykge1xuICAgICAgICBsZWZ0OiAkd2lkdGgtbGcgKyAkc2lkZWJhci1tYXJnaW5zO1xuICAgIH1cbn1cbiIsIiR0aHJlc2hvbGQtbGc6IDEyMDBweDtcbiR0aHJlc2hvbGQtbWQ6IDk5MnB4O1xuJHRocmVzaG9sZC1zbTogNzY4cHg7XG5cbiR3aWR0aC1sZzogNDYwcHg7XG4kd2lkdGgtbWQ6IDM5MHB4O1xuJHdpZHRoLXNtOiAzMDVweDtcbiR3aWR0aC14czogMTAwJTtcblxuJHNpZGViYXItei1pbmRleDogMjAwMCAhZGVmYXVsdDtcbiRzaWRlYmFyLXRyYW5zaXRpb246IDUwMG1zICFkZWZhdWx0O1xuXG4kdGFiLXNpemU6IDQwcHggIWRlZmF1bHQ7XG4kdGFiLWZvbnQtc2l6ZTogMTJwdCAhZGVmYXVsdDtcbiR0YWItYmc6IG51bGwgIWRlZmF1bHQ7XG4kdGFiLXRyYW5zaXRpb246IDgwbXMgIWRlZmF1bHQ7XG5cbiRjb250ZW50LWJnOiByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuOTUpICFkZWZhdWx0O1xuJGNvbnRlbnQtcGFkZGluZzogMTBweCAyMHB4ICFkZWZhdWx0O1xuXG4kbW92ZS1tYXAtaW4teHM6IHRydWUgIWRlZmF1bHQ7XG5cbi5zaWRlYmFyIHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG5cbiAgICBsZWZ0OiAwO1xuICAgIHRvcDogMDtcbiAgICBib3R0b206IDA7XG4gICAgd2lkdGg6ICR3aWR0aC14cztcblxuICAgIG92ZXJmbG93OiBoaWRkZW47XG5cbiAgICB6LWluZGV4OiAkc2lkZWJhci16LWluZGV4O1xuXG4gICAgJi5jb2xsYXBzZWQge1xuICAgICAgICB3aWR0aDogJHRhYi1zaXplO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1zbSkge1xuICAgICAgICBsZWZ0OiAkc2lkZWJhci1tYXJnaW5zO1xuICAgICAgICB0b3A6ICRzaWRlYmFyLW1hcmdpbnM7XG4gICAgICAgIGJvdHRvbTogJHNpZGViYXItbWFyZ2lucztcblxuICAgICAgICB0cmFuc2l0aW9uOiB3aWR0aCAkc2lkZWJhci10cmFuc2l0aW9uO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1zbSkgYW5kIChtYXgtd2lkdGg6JHRocmVzaG9sZC1tZCAtIDFweCkge1xuICAgICAgICB3aWR0aDogJHdpZHRoLXNtO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1tZCkgYW5kIChtYXgtd2lkdGg6JHRocmVzaG9sZC1sZyAtIDFweCkge1xuICAgICAgICB3aWR0aDogJHdpZHRoLW1kO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1sZykge1xuICAgICAgICB3aWR0aDogJHdpZHRoLWxnO1xuICAgIH1cbn1cblxuLnNpZGViYXItdGFicyB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuXG4gICAgdG9wOiAwO1xuICAgIGJvdHRvbTogMDtcblxuICAgIHdpZHRoOiAkdGFiLXNpemU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuXG4gICAgbWFyZ2luOiAwO1xuICAgIHBhZGRpbmc6IDA7XG5cbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkdGFicy1iZztcblxuICAgICYgPiBsaSB7XG4gICAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgICBoZWlnaHQ6ICR0YWItc2l6ZTtcblxuICAgICAgICBjb2xvcjogJHRhYi1mZztcbiAgICAgICAgQGlmICR0YWItYmcgeyBiYWNrZ3JvdW5kOiAkdGFiLWJnOyB9XG5cbiAgICAgICAgZm9udC1zaXplOiAkdGFiLWZvbnQtc2l6ZTtcblxuICAgICAgICBvdmVyZmxvdzogaGlkZGVuO1xuXG4gICAgICAgIHRyYW5zaXRpb246IGFsbCAkdGFiLXRyYW5zaXRpb247XG5cbiAgICAgICAgJjpob3ZlciB7XG4gICAgICAgICAgICBjb2xvcjogJHRhYi1ob3Zlci1mZztcbiAgICAgICAgICAgIGJhY2tncm91bmQtY29sb3I6ICR0YWItaG92ZXItYmc7XG4gICAgICAgIH1cblxuICAgICAgICAmLmFjdGl2ZSB7XG4gICAgICAgICAgICBjb2xvcjogJHRhYi1hY3RpdmUtZmc7XG4gICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkdGFiLWFjdGl2ZS1iZztcbiAgICAgICAgfVxuXG4gICAgICAgICYgPiBhIHtcbiAgICAgICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuXG4gICAgICAgICAgICB3aWR0aDogMTAwJTtcbiAgICAgICAgICAgIGhlaWdodDogMTAwJTtcblxuICAgICAgICAgICAgbGluZS1oZWlnaHQ6ICR0YWItc2l6ZTtcblxuICAgICAgICAgICAgY29sb3I6IGluaGVyaXQ7XG4gICAgICAgICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICAgIH1cbiAgICB9XG59XG5cbi5zaWRlYmFyLWNvbnRlbnQge1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcblxuICAgIGxlZnQ6ICR0YWItc2l6ZTtcbiAgICByaWdodDogMDtcblxuICAgIHRvcDogMDtcbiAgICBib3R0b206IDA7XG5cbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkY29udGVudC1iZztcblxuICAgIG92ZXJmbG93LXg6IGhpZGRlbjtcbiAgICBvdmVyZmxvdy15OiBhdXRvO1xufVxuXG4uc2lkZWJhci1wYW5lIHtcbiAgICBkaXNwbGF5OiBub25lO1xuXG4gICAgcmlnaHQ6IDA7XG4gICAgYm94LXNpemluZzogYm9yZGVyLWJveDtcblxuICAgIHBhZGRpbmc6ICRjb250ZW50LXBhZGRpbmc7XG5cbiAgICAmLmFjdGl2ZSB7XG4gICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1zbSkgYW5kIChtYXgtd2lkdGg6JHRocmVzaG9sZC1tZCAtIDFweCkge1xuICAgICAgICB3aWR0aDogJHdpZHRoLXNtIC0gJHRhYi1zaXplO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1tZCkgYW5kIChtYXgtd2lkdGg6JHRocmVzaG9sZC1sZyAtIDFweCkge1xuICAgICAgICB3aWR0aDogJHdpZHRoLW1kIC0gJHRhYi1zaXplO1xuICAgIH1cblxuICAgIEBtZWRpYShtaW4td2lkdGg6JHRocmVzaG9sZC1sZykge1xuICAgICAgICB3aWR0aDogJHdpZHRoLWxnIC0gJHRhYi1zaXplO1xuICAgIH1cbn1cblxuQGlmICRtb3ZlLW1hcC1pbi14cyB7XG4gICAgLnNpZGViYXItbWFwIHtcbiAgICAgICAgbWFyZ2luLWxlZnQ6ICR0YWItc2l6ZTtcblxuICAgICAgICBAbWVkaWEobWluLXdpZHRoOiR0aHJlc2hvbGQtc20pIHtcbiAgICAgICAgICAgIG1hcmdpbi1sZWZ0OiAwO1xuICAgICAgICB9XG4gICAgfVxufVxuIl19*/