@import 'sidebar';

.leaflet-sidebar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);

    &.leaflet-touch {
        box-shadow: none;
        border-right: 2px solid rgba(0, 0, 0, 0.2);
    }

    @media(min-width:$threshold-sm) {
        border-radius: 4px;

        &.leaflet-touch {
            border: 2px solid rgba(0, 0, 0, 0.2);
        }

        & ~ .sidebar-map .leaflet-left {
            transition: left $sidebar-transition;
        }

        &.collapsed ~ .sidebar-map .leaflet-left {
            left: $tab-size + $sidebar-margins;
        }
    }

    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        & ~ .sidebar-map .leaflet-left {
            left: $width-sm + $sidebar-margins;
        }
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        & ~ .sidebar-map .leaflet-left {
            left: $width-md + $sidebar-margins;
        }
    }

    @media(min-width:$threshold-lg) {
        & ~ .sidebar-map .leaflet-left {
            left: $width-lg + $sidebar-margins;
        }
    }
}
