$sidebar-margins: 6px;
$border-width: 3px;

$tab-fg: #fff;
$tab-bg: rgba(0, 60, 136, 0.8);
$tab-hover-fg: #fff;
$tab-hover-bg: rgba(0, 60, 136, 0.6);
$tab-active-fg: #fff;
$tab-active-bg: #0074d9;

@import 'sidebar';

.sidebar {
    box-shadow: none;
    border-right: $border-width solid rgba(255, 255, 255, 0.4);

    @media(min-width:$threshold-sm) {
        background-color: rgba(255, 255, 255, 0.4);

        border-radius: 4px;

        border: $border-width solid transparent;

        &.collapsed ~ .sidebar-map .ol-zoom {
            margin-left: $tab-size + $sidebar-margins + $border-width * 2;
        }
    }
}

.sidebar-map .ol-zoom {
    margin-left: $border-width * 2;

    @media(min-width:$threshold-sm) {
        transition: margin-left $sidebar-transition;
    }

    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        margin-left: $width-sm + $sidebar-margins + $border-width * 2;
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        margin-left: $width-md + $sidebar-margins + $border-width * 2;
    }

    @media(min-width:$threshold-lg) {
        margin-left: $width-lg + $sidebar-margins + $border-width * 2;
    }
}


.sidebar-tabs {
    @media(min-width:$threshold-sm) {
        background-color: rgba(0, 60, 136, 0.5);
    }
}

