$threshold-lg: 1200px;
$threshold-md: 992px;
$threshold-sm: 768px;

$width-lg: 460px;
$width-md: 390px;
$width-sm: 305px;
$width-xs: 100%;

$sidebar-margins: 10px;
$sidebar-bg: rgba(255, 255, 255, 0.95);
$sidebar-transition: 500ms;

$tab-size: 40px;

$tab-fg: #333;
$tab-bg: #fff;
$tab-hover-fg: #000;
$tab-hover-bg: #eee;
$tab-active-fg: #fff;
$tab-active-bg: #0074d9;

.sidebar {
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;
    width: $width-xs;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;

    z-index: 2000;

    &.collapsed {
        width: $tab-size;
    }

    @media(min-width:$threshold-sm) {
        left: $sidebar-margins;
        top: $sidebar-margins;
        bottom: $sidebar-margins;

        transition: width $sidebar-transition;
    }

    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        width: $width-sm;
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        width: $width-md;
    }

    @media(min-width:$threshold-lg) {
        width: $width-lg;
    }
}

.sidebar-tabs {
    position: absolute;

    top: 0;
    bottom: 0;

    width: $tab-size;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: $tab-bg;

    & > li {
        width: 100%;
        height: $tab-size;

        color: $tab-fg;
        background: transparent;

        overflow: hidden;

        transition: all 80ms;

        &:hover {
            color: $tab-hover-fg;
            background-color: $tab-hover-bg;
        }

        &.active {
            color: $tab-active-fg;
            background-color: $tab-active-bg;
        }

        & > a {
            display: block;

            width: 100%;
            height: 100%;

            line-height: $tab-size;

            color: inherit;
            text-decoration: none;
            text-align: center;
        }
    }
}

.sidebar-content {
    position: absolute;

    left: $tab-size;
    right: 0;

    top: 0;
    bottom: 0;

    background-color: $sidebar-bg;

    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-pane {
    display: none;

    right: 0;
    box-sizing: border-box;

    padding: 10px 20px;

    &.active {
        display: block;
    }

    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        width: $width-sm - $tab-size;
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        width: $width-md - $tab-size;
    }

    @media(min-width:$threshold-lg) {
        width: $width-lg - $tab-size;
    }
}

.sidebar-map {
    margin-left: $tab-size;

    @media(min-width:$threshold-sm) {
        margin-left: 0;
    }
}

.leaflet-sidebar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);

    &.leaflet-touch {
        box-shadow: none;
        border-right: 2px solid rgba(0, 0, 0, 0.2);
    }

    @media(min-width:$threshold-sm) {
        border-radius: 4px;

        &.leaflet-touch {
            border: 2px solid rgba(0, 0, 0, 0.2);
        }

        & ~ .sidebar-map .leaflet-left {
            transition: left $sidebar-transition;
        }

        &.collapsed ~ .sidebar-map .leaflet-left {
            left: $tab-size + $sidebar-margins;
        }
    }

    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        & ~ .sidebar-map .leaflet-left {
            left: $width-sm + $sidebar-margins;
        }
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        & ~ .sidebar-map .leaflet-left {
            left: $width-md + $sidebar-margins;
        }
    }

    @media(min-width:$threshold-lg) {
        & ~ .sidebar-map .leaflet-left {
            left: $width-lg + $sidebar-margins;
        }
    }
}
